/* Ipad-mini devices */
/* body html */
@media only screen and (max-width: 768px) {
    body{
        -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100%;
    }
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    main{
        padding-bottom: 250px !important;
    }
}
/* Ipad-mini devices */
/* Login -Register */
@media only screen and (max-width: 768px) {
    .loginPage {
        background-image: url('../images/планшет.png');
        background-position: center;
        max-width: 768px;
        height: 1000px;
    }
    .login-register {
        width: 470px;
        height: 600px;
        flex-shrink: 0;
    }
    /* #footer-none{
        display: none;
    } */
    .login-register-inputs {
        width: 330px;
        height: 50px;
        flex-shrink: 0;
    }
    
    .login-tab-panel form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .reg-buttons {
        width: 330px !important;
        height: 50px !important;
      
    }
    .denger-button-login{
        width: 330px;
        height: 50px;
    }
  
    
}
/* Ipad-mini devices */
/* Footer */
@media only screen and (max-width: 768px) {
    footer{
        width: 768px;
        height: 171px;
        
    }
    .footer{
        padding:0;
    }
    #login-page-main{
        padding-bottom: 0px !important;
        margin-bottom: -10px !important;
    }
    .footer-description{
        width: 163px;
        height: 43px;
        color: #FFF;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 139%; /* 13.9px */
    }
    .footer-description p{
      color: #FFF;
      width: 200px;
      /* height: 30px; */
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 139%; /* 13.9px */
    }
    .navbar-profile-logo-link1{
        width: 24.025px;
        height: 23.846px;
        background-size:24px ;
    }
    .navbar-profile-logo-link2{
        width: 35.583px;
        height: 22.428px;
    }
    .logo-title{
        width: 39px;
        height: 16.873px;
        flex-shrink: 0;
        color: #FFF;
        font-family: Comfortaa;
        font-size: 11.625px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%; /* 16.624px */
    }
    .footer-social a svg{
        width: 24px;
        height: 24px;
    }
    .footer-column{
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        margin: 0px
    }
    #footer-column1{
        display: none;
    }
    #footer-column2{
        display: none;
    }
    #footer-column3{
        display: none;
    }
    #footer-column4{
        display: none;
    }
    .footer-column {
        height: 20px;
    }
    .footer-columns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* flex-grow: 1; */
    }
    .footer-adaptivity-arrow{
        display: block;
        margin-right: 5px;
    }
    .footer-column h3{
        display: flex;

        color: #FFF;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 900;
        line-height: 143%; /* 14.3px */
    }
}
/* Ipad-mini devices */
/* Header */
@media only screen and (max-width: 768px) {
    
    header{
        width: 768px;
        height: 60px;
        
    }
    .bottom-header-productId{
        display: block;
        position: fixed;
        width: 768px !important;
        height: 60px;
        z-index: 1030;
        bottom: 171px;
    }
    .bottom-header-productId nav nav{
        
        display: flex;
        justify-content: center;
    }
    .productById-number-mobile{
        width: 330px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 2px solid #FFC220;
        background-color: #006B60;
        margin-right: 20px;
    }
    .productById-message-mobile{
        width: 330px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #FFC220;
        border: none;
        margin-left: 20px;
    }
    .bottom-header {
        display: block;
    }
    /* .navbar-expand{
        display: flex;
        justify-content: center;
    } */
    .navbar nav{
        width: 768px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* .navbar-nav{
        display: flex;
        justify-content: center; 
        align-items: center;
   } */
    .bottom-header  {
        width: 768px !important;
        height: 60px;
        background: #006B60;
        position: fixed;
        bottom: 0;
     
        z-index: 1030; /* Make sure it stays above other content */
        display: flex;
        /* justify-content: space-between;  */
        align-items: center;
      }
    #centered-link-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    #centered-link-mobile div{
       
        color: #F3F3F3;
        text-align: center;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.24px;
    }
    .nav-bar-location{
        /* display: none; */
        width: 450px;
        height: 30px;
        border-radius: 30px;
        border: 1px solid #B8B7B7;

        background: #F5F5F5;
    }
    #category-trigger-nav button p{
        display: none;
    }
    .centered-link .category-trigger{
        background: none;
        width: 50px;
    }
    #top-add-ad-button{
        display: none;
    }
    .centered-link{
        margin: 3px;
    }
    .centered-link a{
        color: #F3F3F3;
        text-align: center;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.24px;
    }
    .drop-down-menu-nav{
        display: none;
    }
    .mobile-header{
        width: 768px;
        height: 60px;
    }
    .to-topbtn{
        display: none;
    }
    
}
/* Ipad-mini devices */
/* Categories */
@media only screen and (max-width: 768px) {
    .dep-dropdown-item-section{
        width: 768px;
        height: 459px;
        /* position: relative; */
        /* top: 200px; */
        /* left: 0px; */
        right: -41.5px;
        
    }
    .dep-dropdown-item{
        height: 459px;
        width: 200px;
    }
    .subcategory-dependent-style{
        height: 459px;
        width: 300px
    }
}

/* Ipad-mini devices */
/* Home */
@media only screen and (max-width: 768px) {
    
    .carousel-container {
        max-width: 680px;
        height: 220px;
        /* margin-left: 400px; */
    }
      
      /* .carousel-slides {
        
      } */
      
      
      .carousel-slide0{
        width: 680px;
        height: 220px;
        flex-shrink: 0;
        
        /* display: flex;
        justify-content: center; */
        /* align-items: center; */
        background: url('../images/home-page-poster.png'), lightgray 50% / cover no-repeat   ;
        background-size: 680px 220px;
        
      }
      .carousel-slide1{
        width: 680px;
        height: 220px;
        flex-shrink: 0;
        /* display: flex;
        justify-content: center; */
        /* align-items: center; */
        background: url('../images/home-banner-2.png'), lightgray 50% / cover no-repeat   ;
        background-size: 680px 220px;
        
      }
      .carousel-slide2{
        width: 680px;
        height: 220px;
        flex-shrink: 0;
        /* display: flex;
        justify-content: center; */
        /* align-items: center; */
        background: url('../images/banners/Frame 147.jpg'), lightgray 50% / cover no-repeat   ;
        background-size: 680px 220px;
        
      }
      .carousel-slide3{
        width: 680px;
        height: 220px;
        flex-shrink: 0;
        /* display: flex;
        justify-content: center; */
        /* align-items: center; */
        background: url('../images/banners/Frame 151.jpg'), lightgray 50% / cover no-repeat   ;
        background-size: 680px 220px;
        
      }

      /* .carousel-button {

      } */
      
      .carousel-button.prev {
        left: 0;
      }
      
      .carousel-button.next {
        right: 0;
      }
      .carousel-slide-text-block0{
      display: none;
      }
      .carousel-slide-title{
        width: 303px;
        height: 60px;
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .carousel-slide-text{
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      .carousel-slider-section1{
        margin: 60px;
      
      }
      .carousel-slider-section2{
        margin-left: 40px;
        margin-top: 50px;
      
      }
      .carousel-slider-section2 .carousel-slide-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 140px;
        height: 30px;
        flex-shrink: 0;
        color: #252525;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

      }
      .carousel-slider-section3{
        margin-left: 40px;
        margin-top: 50px;
      
      }
      .carousel-slider-section3 .carousel-slide-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 140px;
        height: 30px;
        color: #252525;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      .carousel-slide-button img{
        width: 17px;
        height: 12px;
        flex-shrink: 0;
        stroke-width: 2px;
        stroke: #FFF;
      }
      .carousel-slide-button {
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        position: absolute;
        width: 140px;
        height: 30px;
        flex-shrink: 0;

      }
      
      .carousel-status {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.7);
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 2;
    }
    .popular-categories{
    
        width: 680px;
        height: 130px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFC220;
        box-sizing: border-box;
        display: flex;
      
      }
      .category-section{
        width: 250px;
        height: 150px;
        flex-shrink: 0;
      }
      .productBox-category{
        text-decoration: none;
        width: 110px;
        height: 110px;
        flex-shrink: 0;
        border-radius: 25px;
        background: #FFF;
        /* padding: 10px; */
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      /* .productBox-category-photo1{
        text-decoration: none;
        width: 250px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 25px;
        background: #FFF;
        
        margin: 10px;
        border-radius: 25px;
        background: url('../images/Rectangle162.png'), lightgray 50% / cover no-repeat;
      } */
      .productBox-category-photo1{
        background-position: center;
        text-decoration: none;
        background-size: 64px 64px !important;
        width: 64px;
        height: 64px;
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 25px;
        background: #FFF;
        /* padding: 10px; */
        margin: 3px;
        border-radius: 25px;
        background: url('../images/Rectangle162.png'), lightgray 50% / cover no-repeat;
      }
      .productBox-category-photo2{
        text-decoration: none;
        background-position: center;
        text-decoration: none;
        background-size: 64px 64px !important;
        width: 64px;
        height: 64px;
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 25px;
        /* background: #FFF; */
        /* padding: 10px; */
        margin: 3px;
        border-radius: 25px;
        background: url('../images/Rectangle119.png') ;
        
      }
      .productBox-category-photo3{
        background-position: center;
        text-decoration: none;
        background-size: 64px 64px !important;
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 25px;
        /* background: #FFF; */
        /* padding: 10px; */
        margin: 3px;
        border-radius: 25px;
        background: url('../images/Rectangle164.png') ;
        
      }
      .productBox-category-title{
        text-align: center;
        margin-top: 0px;
        color: #252525;
        
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 143%; /* 14.3px */
      }
      .categoryText1{
        width: 250px;
        height: 50px;
        /* flex-shrink: 0; */
        color: #FFF;
        text-align: right;
        font-family: Comfortaa;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 23.4px */
      }
      .categoryText2{
        color: #252525;
        text-align: right;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 143%; /* 14.3px */
      }
    .promo-left{
        width: 340px;
        height: 295px;
    }
    .promo-left-el{
        width: 190px;
        height: 295px;
    }
    .promo-left-elements{
        width: 150px;
        
        height: 295px;
        flex-shrink: 0;
        border-radius: 3px;
        
        background: #8AD1FB;
    }
    .promo-left-el-title{
        color: #FFF;
        font-family: Comfortaa;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 143%; /* 25.74px */
    }
    .promo-left-el-text{
        color: #FFF;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 143%; /* 14.3px */
    }
    .promo-left-el-image{
        background-image: url('../images/left-el-yom.svg');
        margin-top: 140px;
        width: 28px;
        height: 18px;
    }
    .promo-left-el-1{
        width: 140px;
        height: 140px;
        flex-shrink: 0;
        background: #7AB0D0;
        margin: 5px;
        color: #FFF;
        font-family: Comfortaa;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 143%; /* 14.3px */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .promo-left-el-2{
        width: 140px;
        height: 140px;
        background: #7AB0D0;
        margin: 5px;
        color: #FFF;
        font-family: Comfortaa;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 143%; /* 14.3px */
    }
    .promo-left-el-2 .promo-left-el-2-img1{
        width: 18px;
        height: 12px;
        flex-shrink: 0;
        margin-right: 10px;
      }
      .promo-left-el-2 .promo-left-el-2-img2{
        width: 95px;
        height: 107px;
        position: relative;
        bottom:35px;
        left:40px;
    }
    .promo-right-el{
        display: none;
    }
    .promo-right{
        width: 330px;
        height: 300px;
        flex-shrink: 0;
        display: flex;
        margin-left:20px;
    }      
    .promo-right-elements{
        height: 300px;
    }
    .el-3{
        width: 330px;
        height: 110px;
        border-radius: 5px;
        margin-bottom: 0px;
    }
    .el-3-image{
        width: 96px;
        height: 86px;
        flex-shrink: 0;
        background: url('../images/image115.png'), lightgray 50% / cover no-repeat;
        margin-left: 20px;
        margin-top: 20px;
    }
    .el-2-1{
        width: 160px;
        height: 176px;
        border-radius: 5px !important;
        background: #FFC220 !important;
    }
    .el-2-1 img{
        stroke-width: 3px;
        stroke: #FFF;
        width: 131px;
        height: 89px;
        margin-top: 2px;
        margin-left: 15px;
    }
    .el-2-text1{
        
        color: #FFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
        font-family: Comfortaa;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 143%; /* 20.02px */
    }
    .el-2-2{
        width: 160px;
        height: 176px;
    }
    .el-2-2-description{
        padding: 0px;
    }
    .el-2-title{
        color: #252525;
        font-family: Comfortaa;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%; /* 20.02px */
    }
    .el-2-text2{
        color: #595959;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 143%; /* 14.3px */
        text-decoration-line: underline;
    }
    .el-2-2 img{
        margin-top: 40px;
        margin-left: 10px;
        width: 130px;
        height: 87px;
    }
    #el-2-blue {
        margin-right: 10px;
    }
    .last-seen{
        height: 300px;
        width: 680px;
        margin-bottom: 20px;
    }
    section .last-seen div ul>li{
      height: 220px !important;
      width: 140px !important;
      margin: 3px;
    }
    .super-promo{
        width: 680px;
        height: 149.69px;
        border: 0.919px solid #CACACA;
    }
    .super-promo-el-1{
        width: 350px;
        height: 149.69px;
    }
    .super-promo-el-1-logo img{
        width: 34.92px;
        height: 22.831px;
    }
    .super-promo-el-1-section{
        margin: 5px;
    }
    .super-promo-el-1-title{
        color: #252525;
        font-family: Comfortaa;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%; /* 20.02px */
    }
    .super-promo-button{
        width: 60px;
        height: 19.959px;
        border: 0.458px solid #252525;
        color: #252525;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 143%; /* 14.3px */
        padding-left:3px;
        padding-right: 3px;
    }
    .super-promo-button img{
        width: 16.473px;
        height: 10.35px;
    }
    .super-promo-el-1-text{
        color: #252525;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 143%; /* 14.3px */
    }
    .super-promo-el-2{
        width: 330px;
        height: 149.69px;
    }
    .super-promo-el-2-elements1{
        width: 110px;
        height: 149.69px;
    }
    .super-promo-el-2-elements1 img{
        width: 28px;
        height: 69.855px;
    }
    .super-promo-el-2-elements2{
        width: 110px;
        height: 149.69px;
    }
    .super-promo-el-2-elements2 img{

        width: 79px;
        height: 101.789px;
    }
    .super-promo-el-2-elements3{
        width: 110px;
        height: 149.69px;
    }
    .super-promo-el-2-elements3 img{
        width: 80px;
        height: 79.834px;
    }
    .toys{
        width: 680px;
        height: 250px;
    }
    .toys-el-1{
        width: 440px;
        height: 220px;
    }
    .toys-el-1 h3{
        color: #252525;
        font-family: Comfortaa;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%; /* 25.74px */
    }
    .toys-el-1 h5{
        color: #252525;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 143%; /* 20.02px */
    }
    .toys-el{
        width: 140px;
        height: 220px;
        margin: 3px;
    }
    .toys-el-title{
      color: #252525;
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 139%; /* 13.9px */
    }
    .toys-el-price{
      color: #FD1818;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .toy-image{
        width: 140px;
        height: 140px;
        border-radius: 12px 12px 0px 0px;
        background-size: 140px 140px;
    }
    .toy-image2{
        width: 140px;
        height: 140px;
        border-radius: 12px 12px 0px 0px;
        background-size: 140px 140px;
    }
    .toy-image3{
        width: 140px;
        height: 140px;
        border-radius: 12px 12px 0px 0px;
        background-size: 140px 140px;
    }
    .toys-el-2{
        margin-top: 45px;
        width: 230px;
        height: 180px;
        background: url('/src/assets/images/Rectangle.png');
        background-size: 230px 180px;
    }

}
/* Product by id  */
@media only screen and (max-width: 768px){
    .ProductByIdPage{
        /* height: 3088px; */
        display: flex;
        justify-content: center;
      }
      .ProductByIdPage-section{
        width: 768px !important;
      }
      .productbyId-full-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 745px;
        /* height: 195px; */
        flex-shrink: 0;
        color: #252525;
        font-family: Comfortaa;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 172.5%; /* 27.6px */
      }
      .productbyId-full-description-element1{
        margin: 10px;
        width: 745px;
      }
      .productById-image-section{
        height: 720px;
        width: 745px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .tab-element-id-price{
        color: #252525;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      }
      .tab-element-id-id{
        margin-top: 145px;
      }
      .vertical-slider{
        width: 100%;
        height: 620px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .slider-thumb{
        width: 32px;
        height: 32px;
        cursor: pointer;
        position: absolute;
        z-index: 100;
        background: #FFC220;
        /* border: 5px solid #3774ff; */
        border-radius: 100%;
        display: block;
        box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
        box-sizing: border-box;
        text-align: center;
      }
      .slider-thumb.active{
        background-color: grey;
      }
      .slider-track{
        position: relative;
        background: #ddd;
        width: 4px;
        /* height: 618px; */
      }
      .slider-track.slider-track-0{
        background: #ddd;
      }
      .productById-big-image img{
        width: 700px;
        height: 620px;
        flex-shrink: 0;
        padding: 20px;
        /* background: url('../images/Rectangle199.png'), lightgray 50% / cover no-repeat; */
      }
      .productById-image-slider{
        width: 240px;
        height: 620px;
        display: flex;
        padding: 20px;
        
      }
      /* .react-slider-bar{
        
      } */
      .productById-image-slider div img{
        width: 80px;
        height: 80px;
      }
      .productbyId-main-description{
        margin-top:20px;
        padding :10px;
      }
      .productbyId-dop-info-section{
        display: flex;
        justify-content: space-between;
      }
      .productbyId-dop-info-title{
        display: none;
      }
      .productbyId-dop-info-date{
        display: block;
      }
      .productbyId-dop-info-state{
        width: 250px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        flex-shrink: 0;
        border-radius: 5px;
        border: 1px solid #252525;
        color: #252525;
        font-family: Comfortaa;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 143%; /* 25.74px */
      }
      .productById-title{
        width: 440px;
        height: 125px;
        flex-shrink: 0;
        color: #252525;
        font-family: Comfortaa;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 180%; /* 45px */
        text-transform: uppercase;
        display: none;
      
      }
      .productById-title-mobile{
        display: block;
        color: #252525;
        font-family: Comfortaa;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 180%; /* 32.4px */
        text-transform: uppercase;
        padding-left: 40px;
      }
      .productbyId-full-description-element2{
        height: 310px;
        width: 740px;
        margin-left: 0px;
      }
      .product-id{
        width: 745px;
        display: flex;
        justify-content: flex-start;
        margin: 10px;
      }
      .product-id-section-help-id{
        display: flex;
      }
      .product-id-help{
        width: 745px;
        display: flex;
        justify-content: flex-end;
        margin: 10px;
        
      }
      .product-id-help-text{
        color: #EB001C;
        font-family: 'Comfortaa';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 172.5%; /* 27.6px */
        text-decoration-line: underline;
      }
      .productbyId-form{
        height: 250px;
        width: 740px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      #hide-product-id-form{
        display: none;
      }
      .productById-title{
       text-align: center;
      }
      .productById-number{
        width: 430px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 5px;
        margin:10px;
        color: #252525;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 143%; /* 28.6px */
        
      }
      .productById-message{
        width: 430px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 5px;
        margin:10px
      }
      .productById-buy{
        width: 680px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #FFC220;
        margin:10px
      }
      .productById-old-price-mobile{
        color: #252525;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 143%; /* 45.76px */
      }
      .productById-price{
        margin: 10px;
        display: none;
      }
      .productById-price-mobile{
        display: block;
      }
      .productById-price-date{
        display: flex;
        justify-content: space-between;
      }
      .productById-new-checked-mobile{
        width: 260px;
        height: 44px;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .productById-new-checked-mobile img{
        width: 16px;
        height: 16px;
        flex-shrink: 0;
      }
      .productById-new-checked1-mobile{
        color: #252525;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 180%;
        text-transform: lowercase;
      }
      .productById-new-checked2-mobile{
        color: #143F3A;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 180%;
        text-decoration-line: underline;
        text-transform: lowercase;
      }
      .under-price-banner{
        width: 330px;
        height: 160px;
        flex-shrink: 0;
        margin: 10px;
        background: #7DC0E2;
        background: url('../images/product-id-photo.png');
        background-size: 330px 160px;
        padding: 15px;
      }
      .under-price-banner-title{
        color: #002F37;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%; /* 25.74px */
      }
      .under-price-banner-text{
        color: #002F37;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 129.5%; /* 18.13px */
      }
      .under-price-banner-button{
        color: #002F37;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 143%; /* 14.3px */
        text-decoration-line: underline;
        margin-top: 60px;
      }
      .productbyId-user-section{
        width: 740px;
        height: 250px;
      }
      .productbyId-user-section-buttons{
        display: flex;
        /* justify-content: center; */
      }
      .productbyId-user-buttons{
        display: flex;
        justify-content: space-between;
      }
      .productbyId-user-follow{
        display: none;
      }
      .seemore-button{
        width: 175px ;
        height: 40px ;
        flex-shrink: 0;
      
        border-radius: 34px;
        border: 1px solid #252525;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .seemore-button-text{
        
        color: #252525;
        font-family: Comfortaa;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 172.5%; /* 27.6px */
      }
      .productbyId-user-title{
        color: #252525;
        font-family: Comfortaa;
        /* text-align: center; */
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%; /* 42.9px */
        margin-left:10px;
        margin-right:30px;
      }
      .productbyId-price-for-all{
        color: #252525;
        font-family: Inter;
        font-size: 9.235px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .productbyId-title-for-all{
        color: #252525;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 139%; /* 13.9px */
      }
      .productbyId-user-products-section{
        display: inline-block;
      }
      .productbyId-user-products{
        display: flex;
        width: 160px;
        height: 201px;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        flex-shrink: 0;
        margin: 10px;
      }
      .productbyId-user-product-photo img{
        width: 160px;
        height: 140px;
        flex-shrink: 0;
        border-radius: 12px 12px 0px 0px;
        /* background: url('../images/image111.png'), lightgray 50% / cover no-repeat; */
      }
      .productbyId-lastseen-section{
        width: 740px;
        height: 250px;
      }
      .productbyId-lastseen-title{
        color: #252525;
        font-family: Comfortaa;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%; /* 42.9px */
        margin-left:10px;
      }
      .productbyId-lastseen-products-section{
        display: inline-block;
      }
      .productbyId-lastseen-products{
        display: flex;
        width: 140px;
        height: 220px;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        flex-shrink: 0;
        margin: 10px;
      }
      .productbyId-lastseen-product-photo img{
        width: 140px;
        height: 140px;
        flex-shrink: 0;
        border-radius: 11.543px 11.543px 0px 0px;
        /* background: url('../images/image111.png'), lightgray 50% / cover no-repeat; */
        /* background: no-repeat; */
      }
      .react-multi-carousel-list  {
        
        height: 220px;
      }
      .react-multi-carousel-track {
        height: 220px;
      }
      .productbyId-lastseen-product-description{
        height: 91px;
        text-decoration: none;
        color: #252525;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .productbyId-lastseen-product-title{
        margin: 5px;
        color: #252525;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 139%; /* 13.9px */
      }
      .productbyId-lastseen-product-price{
        margin: 5px;
        color: #FD1818;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .productbyId-favorite-section{
        width: 740px;
        height: 250px;
      }
      .productbyId-favorite-title{
        color: #252525;
        font-family: Comfortaa;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%; /* 42.9px */
        margin-left:10px;
      }
      .productbyId-favorite-products-section{
        display: inline-block;
      }
      .productbyId-favorite-products{
        display: flex;
        width: 280px;
        height: 341px;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        flex-shrink: 0;
        margin: 10px;
      }
      .productbyId-favorite-product-photo img{
        width: 160px;
        height: 140px;
        flex-shrink: 0;
        border-radius: 12px 12px 0px 0px;
        /* background: url('../images/image111.png'), lightgray 50% / cover no-repeat; */
      }
}
/* Tablets */
/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .carousel-container {
        height: 400px;
    }

    .carousel-slide img {
        max-width: 100%;
    }

    .popular-categories, .category-section {
        width: 80%;
    }

    .productBox-category {
        width: 150px;
        height: 150px;
    }

    .categoryText1 {
        font-size: 30px;
    }

    .categoryText2 {
        font-size: 20px;
    }

    .promo-left, .promo-right {
        width: 80%;
    }

    .super-promo {
        flex-direction: column-reverse;
        width: 100%;
    }

    .toys {
        flex-wrap: wrap;
    }
} */

/* Small desktops and laptops */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
    /* Adjustments can be made here based on how you want your design to look on small desktops and laptops. */
}

/* Large desktops */
@media only screen and (min-width: 1366px) {
    /* Adjustments for large desktops can be made here if necessary. */
}